<h1> New Book </h1>
<%= form_with model: @book, local: true do |form| %>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title, required: true %>
    </p>

    <p>
        <%= form.label :author %><br>
        <%= form.text_field :author, required: true %>
    </p>

    <p>
        <%= form.label :price %><br>
        <%= form.number_field :price, required: true %>
    </p>

    <p>
        <%= form.label :published_date %><br>
        <%= form.date_select :published_date, required: true %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>
<p>
    <%= link_to 'Back', books_path %>
</p>